= form_for [@task.task_list, @task] do |f|
  -if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :add_to_top_of_list, "add task to the top of this list?"
    = f.check_box :add_to_top_of_list
  .field
    = f.label :name, "task name"
    = f.text_field :name
  .field
    = f.label :complexity, "complexity"
    = f.text_field :complexity
  .actions
    = f.submit 'add task to list'
