%h1 #{h @task_list.name}

%p#notice= notice

%table
  - @task_list.tasks.each do |task|
    %tr
      %td 
        - if task.position != 1
          = form_for [@task_list, task], :url => promote_task_list_task_path(@task_list, task), :html => { :method => :post } do |f|
            = f.submit '^'
        - else
          = form_for [@task_list, task], :url => mark_complete_task_list_task_path(@task_list, task) do |f|
            = f.submit 'done!'
      %td= task.name
      %td= task.complexity
      %td= link_to 'edit', task_list_task_path(@task_list, task)      

%br

= link_to 'add a new task', new_task_list_task_path(@task_list)
