%p
  leantasks 2011 | built with #{link_to("rails 3", "http://rubyonrails.org/")}, #{link_to("cukes", "http://cukes.info")}, #{link_to("rspec", "http://rspec.info")}, #{link_to("compass", "http://compass-style.org")}, #{link_to("haml & sass", "http://haml-lang.com")} | get in touch, send email to #{link_to("leantasks@gmail.com", "mailto:leantasks@gmail.com")}
